body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('https://cdn.hipwallpaper.com/i/67/19/TXEAb1.jpg') !important;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-dark {
    background-color:#343a40 !important;
}
.table-dark {
    background-color: #343a40 !important;
}

.table-dark td {
    border-color: #454d55 !important;
}

.table-dark th {
    border-color: #454d55 !important;
}