@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Cape Town, South Africa<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:EmailServer.v9@gmail.com">EmailServer.v9@gmail.com</a><br />
</address>